.main{
    display: flex;
    height: 50px;
    background-color: rgb(245,245,245);
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.item__action{
    margin-left: 50px;
    cursor: pointer;
}

.item__nav_sort{
    margin-left: 500px;
}
.item__action_color{
    color: rgb(245 86 103);
}